<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h2 style="text-align: center; color: #aaa; margin:0px; font-size: 1.2em;max-width: 280px; margin-left: auto; margin-right: auto;"><%= potentialFriendFullName %> wants to be friends.</h2>
<div style="background-color: #77BE69; margin-top: 25px; margin-bottom: 35px;height: 2px; width: 100px; margin-left: auto; margin-right: auto;"></div>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px;"><%= potentialFriendFullName %> wants to be friends on Ration. Visit your <a style="color: #28AFB0;" href="<%=baseUrl%>/friends">friends page</a> to approve this request.</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="background-color: #28AFB0; display: inline-block; font-size: 1.1em; color: #fff; padding: 10px 35px 10px; font-weight: 500; text-decoration: none; border-radius: 7px;" href="<%=baseUrl%>/friends">Go to Ration</a>
</div>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The Ration Team</p>
