<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<h2 style="text-align: center; color: #aaa; margin:0px; font-size: 1.2em;max-width: 280px; margin-left: auto; margin-right: auto;"><%= borrowerName %> wants to borrow your <%= itemLabel %>.</h2>
<div style="background-color: #77BE69; margin-top: 25px; margin-bottom: 35px;height: 2px; width: 100px; margin-left: auto; margin-right: auto;"></div>
<p style="margin-bottom: 25px;">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px;"><%= borrowerName %> has requested to borrow the <%= itemLabel %> you listed on Ration. They are available to pick it up <%= pickupInfo %>, and expect to return it in perfect condition on <%= expectedReturnAt %>.</p>
<p style="margin-bottom: 25px;">To coordinate with this person send them a note at: <span style="font-weight: bold"><%= borrowerEmail %></span>.</p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">The Ration Team</p>
